/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
}

footer{
    background-color:#2F2F2F;
}

header{
    background-color:#2F2F2F;
}

.bapak-container {
    color:white;
    background-color: #2f2f2f;
}

.desc {
    text-align: justify;
}
.container {
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-evenly;
    margin: 10% 10% 10% 10%;
    text-align: center;
    line-height:75%;
    
}
.anak-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
}

.anak-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    
}

.random-white-bar {
    background-color: #FFFFFF;
    width: 90%;
    height: 0.05rem;
    position: absolute;
}

.anak-anak2-container {
  display: flex;
  flex-wrap: wrap;
}

.anak-anak2-container ul{
  color: white;
  line-height: 3;
}

.contact-us{
    background-color: white;
    color: black;
    border-radius: 50px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
}

.contact-box {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    justify-content: space-evenly;
    color: #fff;
    text-decoration: none;
    margin: auto;
    font-size: 30px;
    padding: 20px;
    align-content: center;
}

.contact-box > a {
    background-color: #CAA3A4;
    border: 2px solid black;
    color: #000;
    height: 200px;
    width: 200px;
}

.contact-box > a:hover {
    background-color: #000;
    border: 2px solid #CAA3A4;
    color: #fff;
    height: 200px;
    width: 200px;
}

/* BUAT NAVBAR YA BUND */
.navbar ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    background-color:#2f2f2f;
    text-align: center;
}
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover {
    background-color: #CAA3A4;
}

.dondrop {
    overflow: hidden;
}

.dropbutton:hover, .dropdown-content{
    display: block;
}

/* HAPUS DROPDOWN MENU HERE */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CAA3A4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    background-color: #2f2f2f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:#ff0008;
  }
  
  .dondrop:hover .dropdown-content {
    display: block;
  }
/* END HERE */


footer p{
    text-align:center;
    color:#CAA3A4;
}

.confirm {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.button {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 1px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 8px;
    }
  
    .back-button {
    background-color: rgb(13, 207, 255); 
    color: #FFFFFF; 
    border: 2px solid #000000;
    }
  
    .back-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    }

    .cancel-button {
    background-color: #FFFFFF; 
    color: #000000; 
    border: 2px solid #000000;
    text-decoration: none;
    }
  
    .cancel-button:hover {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
    }
  
    .submit-button {
    background-color: #FF4D00; 
    color: white; 
    border: 2px solid #FF4D00;
    }
  
    .submit-button:hover {
    background-color: white;
    color: black;
  }

 .col-sm-3 {
     height: fit-content;


     ;
 }