{% extends 'base.html' %}   
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %} 

<div style="text-align: center;
padding: 1%;padding-bottom: 3%;"><h1>Services</h1><br>
<h5>Tolong tuliskan pada halaman ini informasi yang dibutuhkan untuk meminta service dari kami agar kami dapat menentukan
    tipe service yang bisa kami berikan. <br><br>Kemudian tunggulah balasan dari kami kepada email yang diberikan.
</h5></div>
<div style="margin: auto;
border: 2px solid black;
border-radius: 10px;
width: 75%;
padding: 20px;
">

<form method= "POST" action="{% url 'services:post' %}">
    {% csrf_token %}
    {{ form_service.as_p }}
    <div>
        <a href="{% url 'main:home' %}" style="text-decoration: none; color: black;"><button class="button cancel-button">Cancel</a>
        <button class="button submit-button">Submit</a>
    </div>
    <h3 style="text-align: center;float: none; margin-top: 5%; margin-bottom: 2%;">Antrian</h3>
    {%for i in data %}
        <div style="margin: auto;
        border: 2px solid black;
        border-radius: 10px;
        width: 75%;
        margin-top: 10px;
        padding: 20px;">
            <h4>{{i.name}}</h4>
            <p>{{i.detail}}<p>
        </div>
        <br>
    {% endfor %}
    
</form>

</div>
{% endblock content %}

