{% extends 'base.html' %}   
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %} 

<div style="text-align: center;
padding: 1%;padding-bottom: 3%;"><h1>Donate</h1><br>
<h5>Tolong tuliskan pada halaman ini nama, email serta nominal yang ingin disumbangkan.<br><br>
    Informasi lebih lanjut akan diberikan kepada email yang diberikan.
</h5></div>
    
   </div>
<div style="margin: auto;
            border: 2px solid black;
            border-radius: 10px;
            width: 75%;
            padding: 20px">
    <form method= "POST" action="{% url 'donation:post' %}">
        {% csrf_token %}
        {{ form_tambah.as_p }}
        <div>
            <a href="{% url 'main:home' %}" style="text-decoration: none; color: #000000;"><button class="button cancel-button">Cancel</a>
            <button class="button submit-button">Submit</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock content %}