{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>DONASI</title>
{% endblock meta %}

{% block content %}

<div style="text-align: center;
padding: 1%;
color: black;">
<h1>Donor</h1></div>


{%for i in data %}
    <div style= "margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    text-align: center;">
        <h4> {{i.name}} </h4>
        <h5> Rp{{i.nominal}},00 </h5> 
    </div>

    {% endfor %}
{% endblock content %}